{{define "title"}}Home - Snippets{{end}}

{{define "main"}}
  <h2>Latest snippets</h2>

  {{if .Snippets}}
    <table>
      <tr>
        <th>Title</th>
        <th>Created</th>
        <th>ID</th>
      </tr>

      {{range .Snippets}}
        <tr>
          <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
          <td>{{ humanDate .Created}}</td>
          <td>#{{.ID}}</td>
        </tr>
      {{end}}
    </table>
  {{else}}
    <p>There is no snippets yet!</p>
  {{end}}

{{end}}
