{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <h1><a href="/">SNIPPETBOX</a></h1>
    </header>

    {{template "nav" .}}

    <aside>
      {{block "aside" .}}
        if aside not found
      {{end}}
    </aside>

    <main>
      {{with .Flash}}
        <div>{{.}}</div>
      {{end}}
      {{template "main" .}}
    </main>

    <footer>
      Powered by me :)
      {{.CurrentYear}}
    </footer>
  </body>
</html>
{{end}}
