{{define "nav"}}
  <nav>
    <a href="/">Home</a>
    {{if .IsAuthenticated}}
      <a href="/snippet/create">New Snippet</a>
    {{end}}
    {{if .IsAuthenticated}}
      <form action="/user/logout" method="post">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <button type="submit">Logout</button>
      </form>
    {{else}}
      <a href="/user/login">Login</a>
      <a href="/user/signup">Signup</a>
    {{end}}
  </nav>
{{end}}
