* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.current-page {
  border: 2px solid lightblue;
}

a {
  text-decoration: none;
  color: #444;
}

nav {
  padding: 1rem 0;
  display: flex;

}

nav a,
nav button {
  border: none;
  font-size: 1rem;
  margin: 0 .2rem;
  cursor: pointer;
  color: #eee;
  padding: .5rem 1rem;
  background-color: #333;
  border-radius: .3rem;
  transition: background-color 200ms linear;
}

nav a:hover,
nav button:hover {
  background-color: #555;
}
